/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: #172A40;
  font-family: 'Lato', sans-serif;
}

#signin {
  margin-top: 5px;
  margin-left: 870px;
}

#signup {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#koupler {
  font-weight: 900;
  font-size: 72px;
  margin-bottom: 30px;
  margin-left: 100px;
  /*color: #772828;*/
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.loginfield {
  font-weight: 300;
  margin: 5px;
  width: 150px;
  height: 26px;
  background: transparent;
  border-style: none none solid none;
  border-color: #96B2D4;
  font-size: 16px;
}

.field {
  font-weight: 300;
  margin: 5px;
  width: 220px;
  height: 26px;
  background: transparent;
  border-style: none none solid none;
  border-color: #96B2D4;
  font-size: 16px;
}

.field:focus {
  border-style: none;
  outline: none;
}

#username, #password {
  font-weight: 300;
  width: 300px;
  height: 30px;
  margin-left: 100px;
}

#signupbutton {
  font-weight: 300;
  font-size: 16px;
  width: 80px;
  height: 40px;
  /*margin-right: 150px;*/
  margin-left: 190px;
  margin-top: 8px;
  background-color: #58d68d;
  color: white;
  border-style: solid;
  border-color: #58d68d;
  border-radius: 2px;
}

#signinbutton {
  font-weight: 300;
  font-size: 16px;
  width: 80px;
  height: 30px;
  /*margin-right: 150px;*/
  background-color: #58d68d;
  color: white;
  border-style: solid;
  border-color: #58d68d;
  border-radius: 2px;
}

#signout {
  margin-left: 93%;
  margin-top: 5px;
  font-weight: 300;
  font-size: 16px;
  width: 80px;
  height: 40px;
  /*margin-right: 150px;*/
  background-color: gray;
  color: white;
  border-style: solid;
  border-color: gray;
  border-radius: 2px;
}


#wtd {
  font-weight: 400;
  font-size: 42px;
  margin-left: 25%;
  margin-top: 120px;
  color: white;
}

.activities {
  font-weight: 300;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.activity {
  font-weight: 300;
  width: 100px;
  height: 25px;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  border-color: transparent;
  padding: 10px 3px 6px 3px;
  text-align: center;
  float: left;
  margin: 2px;
  color: white;
  background-color: #58d68d;
}

#match {

}

#matched {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  margin-left: 35%;
  margin-top: 30px;
  color: white;
}

#matchedphoto {
  margin-left: 39%;
  margin-top: 20px;
}

.coupleDetails {
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-left: 50px;
  line-height: 150%;
  /*margin-left: 20%;*/
}
