/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*/*/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, .container-fluid {
  background-color: #172A40;
  font-family: 'Lato', sans-serif;
}

body > div:first-of-type {
  padding-top: 50px;
}

.profile-view {
  margin-top: 40px;
}

#signin {
  margin-top: 5px;
  float: right;
}

#signup {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.stroke {
  font-weight: 900;
  margin-bottom: 30px;
  font-size: 72px;
  margin-left: 100px;
  /*color: #772828;*/
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.strokeSmall {
  font-weight: 900;
  margin-bottom: 30px;
  font-size: 30px;
  margin-left: 100px;
  /*color: #772828;*/
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.match-container {
  background-color: #888888;
  margin-bottom: 15px;
  padding: 10px 10px 15px 10px;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
}

.loginfield {
  font-weight: 300;
  margin: 5px;
  width: 150px;
  height: 26px;
  background: transparent;
  border-style: none none solid none;
  border-color: #96B2D4;
  font-size: 16px;
  color: white;
}

.field {
  font-weight: 300;
  margin: 5px;
  width: 220px;
  height: 26px;
  background: transparent;
  border-style: none none solid none;
  border-color: #96B2D4;
  font-size: 16px;
  color: white;
}

.tabContainer {
  background-image: url("http://previews.123rf.com/images/inxti/inxti1202/inxti120200037/12232435-two-heart-on-wood-background-with-copy-space--Stock-Photo-day-mothers-wood.jpg");
}

.tabs {
  font-weight: 800;
  margin-bottom: -1px;
  font-size: 20px;
  margin-left: 30px;
  /*color: #772828;*/
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

h3, p {
  color: white;
  margin-left: 20px;
}

.field:focus {
  border-color: #172A40;
  outline: none;
}

#username, #password {
  font-weight: 300;
  width: 300px;
  height: 30px;
  margin-left: 100px;
}

#signupbutton {
  font-weight: 300;
  font-size: 16px;
  width: 80px;
  height: 40px;
  /*margin-right: 150px;*/
  margin-left: 190px;
  margin-top: 8px;
  background-color: #58d68d;
  color: white;
  border-style: solid;
  border-color: #58d68d;
  border-radius: 2px;
}

#signinbutton {
  font-weight: 300;
  font-size: 16px;
  width: 80px;
  height: 30px;
  /*margin-right: 150px;*/
  background-color: #58d68d;
  color: white;
  border-style: solid;
  border-color: #58d68d;
  border-radius: 2px;
}

#goToDashboard, #signout {
  display:inline-block;
  float:right;
  /*margin-left: 93%;*/
  margin: 5px;
  font-weight: 300;
  font-size: 16px;
  width: 80px;
  height: 40px;
  /*margin-right: 150px;*/
  background-color: gray;
  color: white;
  border-style: solid;
  border-color: gray;
  border-radius: 2px;
}


#wtd {
  font-weight: 400;
  font-size: 42px;
  margin-left: 25%;
  margin-top: 120px;
  color: white;
}

#title {
  font-weight: 300;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  color: white;
}

.navbar .btn {
  margin-left: 10px;
}

.activities {
  font-weight: 300;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.activity {
  font-weight: 300;
  display: inline-block;
  width: 100px;
  height: 3em;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  border-color: transparent;
  padding: 10px 3px 6px 3px;
  text-align: center;
  /*float: left;*/
  margin: 10px;
  color: white;
  background-color: #58d68d;
}

#half-column {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

legend {
  margin: 15px;
  font-family: 'Lato', sans-serif;
  color: white;
}

#matched {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

#matchedPhoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.coupleDetails {
  font-weight: 300;
  color: white;
  text-align: center;
  margin-top: 20px;
  line-height: 150%;
}*/*/*/
