<div ng-controller="ProfileCtrl as ctrl">
<div class="modal-header">
    <h3 class="modal-title">Edit Your Profile</h3>
</div>
<div class="modal-body">
<h1>Edit Your Profile</h1>
    <input ng-model="ctrl.profileData.username" placeholder="username">
    <input ng-model="ctrl.profileData.person_1_first_name" placeholder="user 1 first name">
    <input ng-model="ctrl.profileData.person_1_last_name" placeholder="user 1 last name">
    <input ng-model="ctrl.profileData.person_2_first_name" placeholder="user 2 first name">
    <input ng-model="ctrl.profileData.person_2_last_name" placeholder="user 2 last name">
    <input ng-model="ctrl.profileData.about_us" placeholder="about us">
    <button type="file" ng-model="file" ngf-select="ctrl.uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Upload A Profile Pic</button>
    <div>{{ctrl.errorMsg}}</div>

  <img ngf-src="file">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</div>