<div class="profile-view">
<div class="row">
  <img class="col-md-4" src="{{ ctrl.profileData.photo_filepath }}">
  <h1 class="stroke">{{ ctrl.profileData.person_1_first_name }} & {{ ctrl.profileData.person_2_first_name }}</h1>
  <div class="activity col-md-4" ng-repeat="activity in ctrl.profileData.activities">{{ activity }}</div>
</div>

<div class="row">
  <div class="col-lg-8">
    <p><legend>About Us</legend> {{ ctrl.profileData.about_us }} </p>
  </div>

  <div class="col-md-4">
    <p><legend>Contact Info</legend> 
      {{ ctrl.profileData.email }} <br>
      {{ ctrl.profileData.phone }}
    </p>
  </div>

  <button class="btn btn-primary" ng-show="ctrl.isAuthorizedToEdit" ng-click="ctrl.showEditModal()">Edit Profile</button>

</div>
</div>