<div class="ch-box" ng-controller="ChatCtrl as chat">  
  <div id="live-chat" ng-show="openConversation">
    <!-- <span ng-repeat="msg in ctrl.messageStorage[ctrl.receiver] track by $index"> -->
    
    <header class="clearfix">

      <a href="#" class="chat-close">x</a>

      <h4>Cindy</h4>

    </header>

    <div class="chat">
      
      <div class="chat-history" ng-repeat="(key, value) in ctrl.messageStorage">
        
        <div class="chat-message clearfix">

          <img src="http://lorempixum.com/32/32/people" alt="" width="32" height="32" ng-if="msg[0] == ctrl.username">
          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32" ng-if="msg[1] == ctrl.receiver">

          <div class="chat-message-content clearfix">
            
            <span class="chat-time"></span>
            <ul>
              <li><h5>{{key}}</h5></li>

              <li>{{value}}</li>
            </ul>
          <hr>
          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->

      </div> <!-- end chat-history -->

      <p class="chat-feedback">typing...</p>

      <form>

        <fieldset>
          
          <input class="chatInput" type="text" placeholder="Type your message…" autofocus ng-model="ctrl.message">
          <input class="chatInput" type="button" ng-click="ctrl.sendMessage($event)" value="Submit"></input>
        </fieldset>

      </form>

    </div> <!-- end chat -->
   </span>
  </div> <!-- end live-chat -->
</div>
